@import './variables.scss';

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1050px;
  padding: 20px;

  &__desc {
    max-width: 500px;
  }

  &__tools {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    width: 100%;
  }

  &__tools-item {
    position: relative;
    flex-basis: calc(50% - 15px);

    textarea {
      appearance: none;
      background-color: transparent;
      border: 2px solid $calypso;
      color: $light_orchid;
      font-size: 16px;
      height: 450px;
      outline: none;
      padding: 15px;
      resize: none;
      width: calc(100% - 2 * 17px);
      background-color: rgba($calypso, 0.15);
    }
  }

  &__alert {
    $height-alert: 40px;
    align-items: center;
    background-color: $light_orchid;
    bottom: 0;
    color: $mirage;
    display: flex;
    height: $height-alert;
    justify-content: center;
    left: 0;
    position: fixed;
    transform: translateY($height-alert);
    transition: all 150ms ease-out;
    width: 100%;

    &.active {
      transform: translateY(0px);
    }
  }

  &__history {
    ul {
      list-style: none;
      margin: 0;
      padding: 0 0 50px 0;
      width: 100%;
    }
    li {
      background-color: rgba($calypso, 0.15);
      border-radius: 5px;
      color: $mercury;
      margin-bottom: 5px;
      padding: 20px;
      overflow-wrap: break-word;
      cursor: pointer;
    }
  }

  &__copy {
    align-items: center;
    background-color: rgba($calypso, 1);
    border: 0;
    bottom: 4px;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    outline: none;
    position: absolute;
    right: 0;
    transition: all 150ms ease-out;
    width: 50px;
    z-index: 1;

    svg {
      fill: $light_orchid;
      height: 30px;
      transition: all 150ms ease-out;
      width: 30px;
    }

    &:hover {
      background-color: $light_orchid;

      svg {
        fill: $calypso;
      }
    }
  }
}
