@import './variables.scss';

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1050px;
  padding: 20px;

  &__desc {
    max-width: 500px;
  }

  &__tools {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    width: 100%;
    flex-direction: column;

    @media screen and (min-width: 760px) {
      flex-direction: row;
    }
  }

  &__tools-item {
    flex-basis: calc(50% - 15px);
    label {
      display: none;
    }
    textarea {
      appearance: none;
      background-color: transparent;
      border: 2px solid $calypso;
      color: $light_orchid;
      font-size: 16px;
      height: 200px;
      outline: none;
      padding: 15px;
      resize: none;
      width: calc(100% - 2 * 17px);
      background-color: rgba($calypso, 0.15);

      @media screen and (min-width: 760px) {
        height: 400px;
      }
    }
  }

  &__item {
    position: relative;
  }

  &__alert {
    $height-alert: 40px;
    align-items: center;
    background-color: $light_orchid;
    bottom: 0;
    color: $mirage;
    display: flex;
    height: $height-alert;
    justify-content: center;
    left: 0;
    position: fixed;
    transform: translateY($height-alert);
    transition: all 150ms ease-out;
    width: 100%;

    &.active {
      transform: translateY(0px);
    }
  }

  &__history {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      @media screen and (min-width: 760px) {
        padding: 0 0 20px 0;
      }
    }

    li {
      background-color: rgba($calypso, 0.15);
      border-radius: 5px;
      color: $mercury;
      cursor: pointer;
      margin-bottom: 5px;
      max-height: 100px;
      overflow-wrap: break-word;
      overflow: hidden;
      padding: 20px;
    }
  }

  &__copy {
    align-items: center;
    background-color: rgba($calypso, 1);
    border: 0;
    bottom: 2px;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    outline: none;
    position: absolute;
    right: 0;
    transition: all 150ms ease-out;
    width: 50px;
    z-index: 1;

    svg {
      fill: $light_orchid;
      height: 30px;
      transition: all 150ms ease-out;
      width: 30px;
    }

    &:hover,
    &:focus {
      background-color: $light_orchid;

      svg {
        fill: $calypso;
      }
    }
    &:active {
      background-color: lighten($light_orchid, 10%);
    }
  }

  &__drop {
    align-items: center;
    background-color: rgba($calypso, 0.15);
    border: 2px solid $calypso;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-top: 20px;
    transition: all 80ms ease-in;
    width: 100%;

    &.dragging-over {
      background-color: rgba($calypso, 1);
    }
  }

  &__drop-file {
    label {
      display: block;
      text-decoration: underline;
      cursor: pointer;
    }
    input[type='file'] {
      display: none;
    }
  }

  &__download {
    appearance: none;
    background-color: $calypso;
    border: 0;
    padding: 0px 20px;
    color: $light_orchid;
    transition: all 150ms ease-out;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $light_orchid;
      color: $calypso;
    }
    &:active {
      background-color: lighten($light_orchid, 10%);
    }
  }
}
